@media (max-width: 980px) {
    #footer-title {
        overflow-y: hidden;
    }
    #mailaddress {
     overflow-y: hidden;
    }
    #social-icon {
     
     overflow-y: hidden;
     
    }
    #social-icons {
     
     overflow-y: hidden;
     height: 50px;
    }
}