@media (max-width: 980px) {
    
    #footer-title {
        overflow-y: hidden;
        height: 100px;
    }
    #mailaddress {
     overflow-y: hidden;
     height: 40px;
    }
    #social-icon {
     
     overflow-y: hidden;
     
    }
    #social-icons {
     
     overflow-y: hidden;
     height: 60px;
    }
    #footer-description {
     overflow-y: hidden;
    width: 45vw;
    font-size: 22px;
     
    }
}