@media (max-width: 393px) {
    
    #footer-title {
        overflow-y: hidden;
        height:auto;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: center;
        flex-wrap: wrap;

    }
    #mailaddress {
     overflow-y: hidden;
     height: 40px;
    }
    #social-icon {
     
     overflow-y: hidden;
     
    }
    #social-icons {
     
     overflow-y: hidden;
     height: 60px;
    }
    #footer-description {
     overflow-y: hidden;
    width: 45vw;
    font-size: 22px;
    height: auto;
     
    }

}