#language{
     width:350px;    
     display: flex;     
     justify-content: center;
     margin-right: 60px;
   }



@media (max-width: 393px) {
   * {
     overflow-x: hidden;
   
   }
   #header {
     width: 100vw;
      height: 800px;
     display: flex;
     flex-direction: column;
        align-items: center;
        padding-left: 30px;       
            
   }
   #ust{
    margin-top: -5px;
     width: 80vw;
      height: 110px;
   }

   #langDark{
    display: flex;
    justify-content: center;
    flex-direction: column;
     width: 45vw;
      height: 60px;
    overflow-y: hidden;

      
   }
   #darkalanı{

     width: full;
     height: 25px;
     overflow-y: hidden;
     display: flex;
     justify-content: end;
     align-items: end;
     margin-top: 10px;     
   }
   #onoff{
  margin-right: -110px;
  margin-left: 75px; 
  }

  #modename{
    
  }

   #language{
     width:200px;    
     display: flex;     
     justify-content: center;
   }
   #orta{
     width: 100vw;
      height: 800px;
     display: flex;          
      flex-direction: column;
     justify-content: center;
     align-items: center;
     overflow-y: hidden;
   }
  

   #baslikyazılogolar{
     position: 1;
     width: 100vw;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     z-index: 10;
     margin-right: 0;
     gap: 5px;
   }
   #baslik{
      font-size: 28px;
      text-align: center;
      height: 270px;
      display: flex;
      flex-wrap: wrap;
      width: 90vw;
      overflow-y: hidden;
      margin-top: 20px;
   }

   #yazi{
     width: 90vw;
     max-width: 400px;
     height: 350px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 10;
     text-align: center;
     margin-left: -20px;
     margin-top: -120px;
   }
   #resimalanı{
     position: 0;
     width: 75vw;
     max-width: 250px;
     height: 400px;
     z-index: 0;
     overflow-y: hidden;
     margin: 0 auto 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     order: -1;
   }
    #resim{
      width: 200px;
      height: 190px;
      margin-left: 20px;
      margin-top: -20px;
      border-radius: 12px;
    }
   #logolar{
     width: 370px;
     height: 200px;  
     display: flex; 
     justify-content: center;
     align-items: center;
     flex-direction: column;   
      margin-bottom: 35px;
   }

   #githubbutton{    
    margin-bottom: 0px;
    height: 60px;
    overflow-y: hidden;
   }
    #linkedinbutton{
      margin-bottom: 0px;
      height: 55px;
      overflow-y: hidden;
    }



}

