@media (max-width: 393px) {
	#projects {
		height: auto;

		overflow-y: hidden;
		width: 100vw;
        
	}
    #allprojects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: auto;
        width: 90vw;
        gap: 50px;

    }
    #projectalanı{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: auto;
        width: 90vw;
        gap: 20px;
        padding-bottom: 20px;

    }
    #projectalanı2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: auto;
        width: 90vw;
        gap: 20px;
         padding-bottom: 20px;

    }
    #imagealanı{
        width: 90vw;
        height: auto;
        overflow-y: hidden;
    }


    #projecttitle {
        overflow-y: hidden;                
        display: flex;
        justify-content: center;        
        width: 100%;
        
    }
    #subtitle {
        height: auto;
        width: 70%;
        overflow-y: hidden;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: start;
        text-align: center;   
       
    }
    #description {
        height: auto;
        width: 90vw;
        overflow-y: hidden;
        font-size: 13px;
        margin: 0 auto;
        padding:0 10px;
    }
    #technologies{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        overflow-y: hidden;
    }

    #projectlinks{
        flex-direction: row;
        gap: 10px;
        height: auto;
        margin: 0 auto;
        overflow-y: hidden;
        padding-bottom: 10px;        
    }
}